html { height: 100%;
        margin: 0;
        padding: 0;

  font-family: arial, sans serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.qheader{
font:bold 14px Arial;
	font-family: cursive;
	color: #333;
}

.qselections{
font:normal 13px Arial;
	font-family: cursive;
	color: #333;
}
body{ background-color:lightgrey;
height: 100%;
}

p {text-align:center;
	font-family: sans-serif;
	color: #333;
}

td { width: auto;
height: auto;
	font: "Arial";
	background-color: lightgrey;
	color: #333;
}
table {border: 0;
width: auto;
padding: 0;
height: auto;}
form
{	color: #333;
	text-align:auto;
}